/* --------- GLOBAL THINGS --------- */
html {
  scroll-behavior: smooth;
}
:root {
  --dark: #0a0a0a;
  --red: #e50914;
  --white: rgba(255, 255, 255, 0.89);
  --bigFont: "Big Shoulders Display", cursive;
  --roboto: "Roboto", sans-serif;

  /* font-family:  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* --------- MAIN HEADER ------- */

#mainHead {
  background-color: var(--dark);
  position: fixed;
  width: 100%;
}

.headContainer {
  display: flex;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.hide {
  display: flex;
}

#mainHead .headLogo {
  margin-right: 50px;
}

#mainHead .headLogo a {
  color: var(--red);
  font-family: var(--bigFont);
  font-size: 50px;
}

#mainHead ul {
  display: flex;
  margin-right: 20px;
}

#mainHead ul.show {
  display: flex;
}

#mainHead ul li {
  margin-top: 1rem;
  margin-right: 20px;
}

#mainHead ul li a {
  color: var(--white);
  font-size: 18px;
  display: inline-block;
}

#mainHead .search {
  display: flex;
  align-items: center;
  width: 20%;
}

#mainHead .search.show {
  display: flex;
}

#mainHead .search input {
  padding: 5px;
  height: 40px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

#mainHead .search button {
  padding: 7px;
  height: 40px;
  width: 40px;
  background-color: var(--red);
  border: none;
  border-radius: 0px 5px 5px 0px;
}

#mainHead #openHead {
  color: var(--red);
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 30px;
  width: 40px;
  display: none;
}

/* ----------- LANDING PAGE ---------- */

.land {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/ESSENTIALS/img/mainBG.jpg");
  padding: 6rem;
  background-position: center;
  background-size: cover;
  color: white;
}

.say {
  text-align: center;
  padding-top: 60px;
  width: 60%;

  margin: auto;
}

.say h1,
.sayRed {
  font-family: var(--bigFont);
  font-size: 120px;
}

.say .sayRed {
  color: var(--red);
}

.landBtn {
  width: 70%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.landBtn button {
  width: 35%;
  padding: 10px;
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.landBtn button:hover {
  box-shadow: rgba(252, 2, 14, 0.7) 0px 24px 100px,
    rgba(229, 9, 20, 0.7) 0px -12px 30px, rgba(229, 9, 20, 0.7) 0px 4px 6px,
    rgba(229, 9, 20, 0.7) 0px 12px 13px, rgba(229, 9, 20, 0.7) 0px -3px 5px;
}

.landBtn button a {
  color: var(--white);
  font-size: 20px;
}

/*  ---------------- OUR STORY ---------------- */
.story {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/ESSENTIALS/img/story1.jpg");
  padding: 5em 0px;
  background-position: center;
  background-size: cover;
}

.storyHead {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.storyHead h1 {
  font-size: 80px;
  font-family: var(--bigFont);
  color: var(--red);
}

.mainStory {
  text-align: justify;
  width: 70%;
  margin: auto;
}

.mainStory p {
  color: var(--white);
  font-size: 17px;
}

/* ******************************************** */

/* ------------ MENU PAGE ------------- */

/* ******************************************** */

/* ------ SIDEBAR ---------- */

.sideBar {
  width: 20%;
  background-color: #0e0d0d;
  overflow-y: scroll;
  overflow-x: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10000;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}

.sideBar.sideShow {
  transform: translateX(0);
}

.sideTitle {
  padding-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}

.sideTitle h1 {
  color: var(--red);
  font-family: var(--bigFont);
  font-size: 40px;
}

.sideBar ul {
  width: 100%;
}

.sideBar ul li {
  padding: 15px;
  margin-bottom: 5px;
}

.sideBar ul li a {
  color: var(--white);
  font-size: 16px;
  padding: 10px 100% 10px 10px;
}

.sideBar ul li a:hover {
  transition: 0.4s;
  background-color: var(--red);
}

/* PULLER */

.puller {
  width: 20%;
  transform: translateX(-100%);
  position: fixed;
  background-color: #121212;
  height: 100vh;
  transition: transform 0.4s ease;
}

.puller.pullOpen {
  transform: translateX(0);
}

.puller i {
  transform: translateX(100%);
  border-radius: 0px 5px 5px 0px;
  color: var(--red);
  font-size: 40px;
  padding: 10px;
  background-color: #0e0d0d;
  position: absolute;
  right: 0;
  top: 50%;
}

.puller #sideOpen {
  color: rgb(18, 194, 18);
  transform: translateX(100%);
}

.puller #sideOpen.sideClose {
  display: none;
}

.puller #sideClose {
  display: none;
}

.puller #sideClose.sideOpen {
  display: block;
}

/* ----------------- MAIN MENU --------------- */

.mainFoodMenu {
  padding-top: 90px;
}

#menuCategory {
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--roboto);
  color: var(--red);
  font-size: 50px;
  font-weight: 600;
}

.mainFoodMenu .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.mainFoodMenu .box {
  width: 100%;
  margin-bottom: 30px;
  /* width: 90%; */
  margin-right: 15px;
}

.mainFoodMenu .menuImg {
  width: 100%;
  /* height: 40px; */
}

.mainFoodMenu .menuImg img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 300px;
}

.mainFoodMenu .content {
  padding: 10px;
}
.mainFoodMenu .menuName {
  display: flex;
  justify-content: space-between;
}

.mainFoodMenu .menuName h1 {
  font-weight: 300;
  /* text-transform: uppercase; */
  font-family: var(--roboto);
  font-size: 25px;
}

.mainFoodMenu .menuName .name {
  color: var(--red);
  margin-bottom: 20px;
}

.mainFoodMenu .menuDesc {
  width: 100%;
  margin-bottom: 20px;
}

.mainFoodMenu .menuDesc p {
  font-size: 16px;
  font-weight: 400;
}

.mainFoodMenu .menuQty {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mainFoodMenu .menuQty h1 {
  margin-right: 25px;
  font-weight: 300;
  font-size: 22px;
  font-family: var(--roboto);
}

.mainFoodMenu .menuQty button {
  width: 35px;
  background-color: #e50914cc;
  border: none;
  height: 35px;
}

.mainFoodMenu .menuQty button:hover {
  background-color: #e50914de;
}

.mainFoodMenu .menuQty input {
  height: 35px;
  width: 40%;
}

.mainFoodMenu .menuBuy {
  width: 100%;
}

.mainFoodMenu .menuBuy button {
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(229, 9, 20, 0.7),
    rgba(229, 9, 20, 0.8)
  );
  padding: 8px;
  font-family: var(--roboto);
  font-size: 18px;
  border: none;
  color: var(--white);
}

.mainFoodMenu .menuBuy button:hover {
  background: linear-gradient(
    to right,
    rgba(229, 9, 20, 0.8),
    rgba(229, 9, 20, 0.7)
  );
}

/* ***************LOGIN PAGE********************** */
.login {
  padding: 180px 14px 150px 14px;
  background-color: #121212;
}

.mainBox {
  display: flex;
  height: 500px;
}

/* LEFT BOX */
.leftBox {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/ESSENTIALS/img/leftBoxImg.jpg");
  background-position: center;
  background-size: cover;
  padding: 15px;
  width: 35%;
}

.leftLogo {
  margin-bottom: 50px;
}

.leftLogo h3 {
  color: var(--red);
  font-size: 30px;
  font-family: var(--bigFont);
}

.leftGreet {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.leftGreet h1 {
  color: var(--white);
  font-family: var(--roboto);
  font-size: 45px;
}

.leftSay {
  text-align: center;
  margin-bottom: 30px;
}

.leftSay p {
  color: var(--white);
  font-size: 14px;
}

/* RIGHT LOGIN BOX */
.rightBox {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/ESSENTIALS/img/loginImg.jpg");
  background-position: center;
  background-size: cover;
  padding: 15px;
  width: 100%;
}

.rightLogo {
  margin-bottom: 50px;
  display: none;
}

.rightLogo h3 {
  color: var(--red);
  font-size: 35px;
  font-family: var(--bigFont);
}

.rightGreet {
  width: 95%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.rightGreet h1 {
  color: var(--white);
  font-family: var(--roboto);
  font-size: 55px;
  margin-top: 78px;
}
.loginBox {
  padding: 10px;
}

.loginBox label {
  margin-bottom: 10px;
  display: inline-block;
  width: 25%;
  color: var(--red);
  font-size: 22px;
  font-weight: 700;
  font-family: var(--roboto);
}

.loginBox input {
  padding: 7px;
  width: 70%;
  border-radius: 3px;
  border: none;
}

.loginBox .loginUsername {
  width: 100%;
  margin-bottom: 25px;
}

.loginBox .loginPassword {
  width: 100%;
  margin-bottom: 2px;
}

.rightBox .loginBox #forgot {
  float: right;
}

.rightBox .loginBox #forgot a {
  color: var(--white);
}

.loginBox .loginBtn {
  margin: 40px auto auto 0px;
  width: 100%;
}

.loginBox .loginBtn button {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--roboto);
  color: var(--white);
  background-color: var(--red);
  border: none;
  border-radius: 3px;
}

.loginBtn #signup {
  margin-top: 10px;
  text-align: center;
  display: block;
}
.loginBtn #signup a {
  color: var(--white);
}

/* ----------FOOTER-------- */

footer {
  background-color: var(--dark);
  padding: 8px;
}

.footContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftFoot a {
  color: var(--red);
  margin-right: 20px;
  font-family: var(--roboto);
}

.leftFoot #leftDivide {
  color: white;
}

.midFoot a {
  color: var(--red);
  font-family: var(--bigFont);
  font-size: 30px;
}

.rightFoot p {
  font-family: var(--roboto);
  color: var(--red);
}

.rightFoot #rightFoot {
  font-family: var(--roboto);
  color: white;
}
