/* --------- GLOBAL THINGS --------- */
html {
  scroll-behavior: smooth;
}
:root {
  --dark: #0a0a0a;
  --red: #e50914;
  --white: rgba(255, 255, 255, 0.89);
  --bigFont: "Big Shoulders Display", cursive;
  --smallFont: "Poppins", sans-serif;
  /* font-family:  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* --------- MAIN HEADER ------- */

#mainHead {
  background-color: var(--dark);

  width: 100%;
}

.headContainer {
  display: flex;
  padding: 5px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

#mainHead .headLogo {
  margin-right: 50px;
}

#mainHead .headLogo a {
  color: var(--red);
  font-family: var(--bigFont);
  font-size: 50px;
}

#mainHead ul {
  display: flex;
  margin-right: 20px;
}

#mainHead ul.show {
  display: flex;
}

#mainHead ul li {
  margin-top: 1.3rem;
  margin-right: 20px;
  display: inline-block;
}

#mainHead ul li a {
  color: var(--white);
  font-size: 18px;
}

#mainHead .search {
  display: flex;
  align-items: center;
  width: 20%;
}

#mainHead .search.show {
  display: flex;
}

#mainHead .search input {
  padding: 5px;
  height: 40px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}

#mainHead .search button {
  padding: 7px;
  height: 40px;
  width: 40px;
  background-color: var(--red);
  border: none;
  border-radius: 0px 5px 5px 0px;
}

#mainHead #openHead {
  color: var(--red);
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 30px;
  width: 40px;
  display: none;
}

/* ----------- LANDING PAGE ---------- */

.land {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(/ESSENTIALS/img/mainBG.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
}
