@media only screen and (min-width: 421px) and (max-width: 580px) {
  .headContainer {
    flex-direction: column;
  }
  #mainHead .headLogo {
    padding: 0px 12px;
  }
  #mainHead .headLogo a {
    font-size: 45px;
  }

  #mainHead ul {
    display: none;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }

  #mainHead ul li {
    padding: 12px;
    display: block;
    margin-top: 0;
  }

  #mainHead ul li:hover {
    background-color: var(--red);
    transition: 0.3s;
  }

  #mainHead ul li a {
    font-size: 18px;
  }

  #mainHead .search {
    padding: 12px;
    display: none;
    width: 100%;
  }

  #mainHead .search button i {
    color: var(--white);
    font-size: 18px;
    line-height: 26px;
  }

  #mainHead #openHead {
    font-size: 28px;
    top: 17px;
    width: 40px;
    display: block;
  }

  /* ---------- LANDING PAGE ----------- */
  .land {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/ESSENTIALS/img/mainBG.jpg") no-repeat;
    padding: 1.5rem 0px 5rem 0px;
    background-position: center;
    background-size: cover;
  }

  .say {
    /* padding-top: 30px; */
    text-align: center;
    width: 100%;
  }

  .say h1,
  span {
    font-size: 90px;
    font-family: var(--bigFont);
    color: var(--white);
  }

  .landBtn {
    margin-top: 40px;
    width: 93%;
    display: flex;
    justify-content: space-around;
  }

  .landBtn button {
    padding: 12px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background-color: var(--red);
  }

  .landBtn button a {
    color: var(--white);
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .landBtn button:hover {
    box-shadow: rgba(252, 2, 14, 0.7) 0px 24px 100px,
      rgba(229, 9, 20, 0.7) 0px -12px 30px, rgba(229, 9, 20, 0.7) 0px 4px 6px,
      rgba(229, 9, 20, 0.7) 0px 12px 13px, rgba(229, 9, 20, 0.7) 0px -3px 5px;
  }

  /*  ---------------- OUR STORY ---------------- */
  .story {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/ESSENTIALS/img/story1.jpg");
    padding: 5em 0px;
    background-position: center;
    background-size: cover;
  }

  .storyHead {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  .storyHead h1 {
    font-size: 70px;
    font-family: var(--bigFont);
    color: var(--red);
  }

  .mainStory {
    text-align: justify;
  }

  .mainStory p {
    color: var(--white);
    font-size: 16px;
  }

  /* ******************************************** */

  /* ------------ MENU PAGE ------------- */

  /* ******************************************** */

  /* ------ SIDEBAR ---------- */
  .sideBar {
    transform: translateX(-100%);
    width: 70%;
    background-color: #0e0d0d;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    transition: transform 0.4s;
  }
  .sideTitle {
    padding-top: 15px;
    margin-bottom: 30px;
    text-align: center;
  }

  /* --------- MAIN FOOD MENU ---------- */
  .mainFoodMenu {
    padding-top: 100px;
  }

  #menuCategory {
    font-size: 40px;
  }

  .mainFoodMenu .row {
    flex-direction: column;
  }

  .mainFoodMenu .box {
    width: 100%;
    margin-bottom: 30px;
  }

  .mainFoodMenu .menuImg {
    width: 100%;
  }

  .mainFoodMenu .menuImg img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .mainFoodMenu .content {
    padding: 10px;
  }
  .mainFoodMenu .menuName {
    display: flex;
    justify-content: space-between;
  }

  .mainFoodMenu .menuName h1 {
    font-weight: 300;
    /* text-transform: uppercase; */
    font-family: var(--roboto);
    font-size: 24px;
  }

  .mainFoodMenu .menuName .name {
    color: var(--red);
    margin-bottom: 20px;
  }

  .mainFoodMenu .menuDesc {
    width: 100%;
    margin-bottom: 25px;
  }

  .mainFoodMenu .menuDesc p {
    font-size: 15.6px;
    font-weight: 400;
  }

  .mainFoodMenu .menuQty {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .mainFoodMenu .menuQty h1 {
    margin-right: 25px;
    font-weight: 300;
    font-size: 22px;
    font-family: var(--roboto);
  }

  .mainFoodMenu .menuQty button {
    width: 20px;
    background-color: #e50914cc;
    border: none;
    height: 33px;
  }

  .mainFoodMenu .menuQty button:hover {
    background-color: #e50914de;
  }

  .mainFoodMenu .menuQty input {
    height: 33px;
    width: 50%;
  }

  .mainFoodMenu .menuBuy {
    width: 100%;
  }

  .mainFoodMenu .menuBuy button {
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(229, 9, 20, 0.7),
      rgba(229, 9, 20, 0.8)
    );
    padding: 8px;
    font-family: var(--roboto);
    font-size: 16px;
    border: none;
    color: var(--white);
  }

  .mainFoodMenu .menuBuy button:hover {
    background: linear-gradient(
      to right,
      rgba(229, 9, 20, 0.8),
      rgba(229, 9, 20, 0.7)
    );
  }
}
