@media only screen and (max-width: 420px) {
  /* -----MAIN HEADER --------- */

  /* #mainHead {
    position: fixed;
  } */

  .headContainer {
    flex-direction: column;
  }

  #mainHead .headLogo a {
    font-size: 40px;
  }

  #mainHead ul {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #mainHead ul li a {
    font-size: 16px;
  }

  #mainHead .search {
    display: none;
    width: 100%;
    margin-bottom: 20px;
  }

  #mainHead #openHead {
    font-size: 25px;
    top: 17px;
    width: 40px;
    display: block;
  }

  /*--------- LANDING PAGE ---------*/
  .land {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/ESSENTIALS/mainBG.jpg") no-repeat;
    height: 60vh;
    background-position: center;
    background-size: cover;
  }

  .say {
    padding-top: 40px;
    text-align: center;
  }

  .say h1,
  span {
    font-size: 70px;
    font-family: var(--bigFont);
    color: var(--white);
  }

  .say span {
    color: var(--red);
  }

  .landBtn {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .landBtn button {
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    border: none;
    background-color: var(--red);
  }
  .landBtn button a {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .landBtn button:hover {
    box-shadow: rgba(252, 2, 14, 0.7) 0px 24px 100px,
      rgba(229, 9, 20, 0.7) 0px -12px 30px, rgba(229, 9, 20, 0.7) 0px 4px 6px,
      rgba(229, 9, 20, 0.7) 0px 12px 13px, rgba(229, 9, 20, 0.7) 0px -3px 5px;
  }
}
